.checkoutOuterContainer {
    display: inline-block;
    font-family: 'Jost', 'sans-serif';
    background-color: #F4F4F4;
    width: 100%;
}

.checkoutInnerConatiner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: calc(100vh - 302px);
    margin-top: 3rem;
}