.iconContainer {
    display: inline-grid;
    align-items: center;
    max-height: 50px !important;
    max-width: 35px !important;
}

.iconContainer > svg {
    height: 100% !important;
    width: 100% !important;
}

.iconContainer > svg > path {
    display: inline-block;
    max-height: 100%;
}
