.carouselContainer {
    margin-left: 52px;
    width: 35vw;
    height: 35vw;
    min-width: 320px;
    min-height: 320px;
    max-width: 80vh;
    max-height: 80vh;
}

.caroulselButtonsContainer {
    display: inline-block;
    margin: 0 8px;
    width: 50px;
    vertical-align: top;
    position: absolute;
    z-index: 2;
    opacity: 0.8;
}

.carouselButton {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 4px 0;
}

.carouselButton:first-of-type {
    margin-top: 8px;
}

.mainImageContainer {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media(max-width: 1320px) {
    .carouselContainer {
        margin: 0;
        width: 60vw;
        height: 60vw;
        margin-bottom: 3rem;
    }
}