.sacolaContainer {
    display: inline-grid;
    place-items: center;
    padding: 2rem 3rem;
    background-color: #fff;
    margin-bottom: .5rem;
}

.sacola {
    display: inline-block;
    width: 300px;
}

/* Help container */

.helpContainer {
    display: inline-block;
    background-color: #fff;
    width: calc(300px + 6rem);
}

.helpDisclaimer {
    margin: 1.5rem 0 0.5rem 3rem;
    font-weight: 400;
    font-size: 20px;
}

.contactButton {
    display: inline-block;
    border: none;
    background-color: #36363B;
    color: #fff;
    font-size: 18px;
    padding: 6px 16px;
    margin: 0 0 2rem 7rem;
    cursor: pointer;
    transition: all 200ms;
}

.contactButton:hover {
    background-color: #09ECA0;
}
